/**
 * @class Ext.tab.Panel
 */
/* line 6, ../../../sass/src/tab/Panel.scss */
.x-tabbar.x-docked-top .x-tab .x-button-icon {
  position: relative;
}
/* line 9, ../../../sass/src/tab/Panel.scss */
.x-tabbar.x-docked-top .x-tab .x-button-icon.x-shown {
  display: inline-block;
}
/* line 13, ../../../sass/src/tab/Panel.scss */
.x-tabbar.x-docked-top .x-tab .x-button-icon.x-hidden {
  display: none;
}

/* line 20, ../../../sass/src/tab/Panel.scss */
.x-tabbar.x-docked-bottom .x-tab .x-button-icon {
  display: block;
  position: relative;
}
/* line 24, ../../../sass/src/tab/Panel.scss */
.x-tabbar.x-docked-bottom .x-tab .x-button-icon.x-shown {
  visibility: visible;
}
/* line 28, ../../../sass/src/tab/Panel.scss */
.x-tabbar.x-docked-bottom .x-tab .x-button-icon.x-hidden {
  visibility: hidden;
}
