/* line 2, ../../../../sass/src/grid/column/Column.scss */
.x-grid-column .x-innerhtml {
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* line 17, ../../../../sass/src/grid/column/Column.scss */
.x-grid-column,
.x-grid-headergroup {
  flex-shrink: 0;
}

/* line 23, ../../../../sass/src/grid/column/Column.scss */
.x-grid-column-trigger {
  position: absolute;
  right: 0;
  cursor: pointer;
}
