/*
Syntax error: Invalid CSS after "    -": expected number or function, was "-x-supports-var..."
        on line 3 of /Users/zucatti/Desktop/omneedia.app/Contents/MacOS/omneedia.github.io/public/ext/gpl/.frameworks/ext-6.2.0/modern/theme-base/sass/src/Component.scss

1: /Users/zucatti/Desktop/omneedia.app/Contents/MacOS/omneedia.github.io/public/ext/gpl/.frameworks/ext-6.2.0/modern/theme-base/sass/src/Component.scss

Backtrace:
/Users/zucatti/Desktop/omneedia.app/Contents/MacOS/omneedia.github.io/public/ext/gpl/.frameworks/ext-6.2.0/modern/theme-base/sass/src/Component.scss:3
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/sass-3.1.7/lib/sass/scss/parser.rb:896:in `expected'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/sass-3.1.7/lib/sass/scss/parser.rb:841:in `expected'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/sass-3.1.7/lib/sass/scss/parser.rb:823:in `expr!'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/sass-3.1.7/lib/sass/scss/parser.rb:709:in `term'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/sass-3.1.7/lib/sass/scss/parser.rb:688:in `expr'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/sass-3.1.7/lib/sass/scss/parser.rb:485:in `simple_selector_sequence'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/sass-3.1.7/lib/sass/scss/parser.rb:466:in `_selector'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/sass-3.1.7/lib/sass/scss/parser.rb:445:in `selector'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/sass-3.1.7/lib/sass/scss/parser.rb:429:in `selector_sequence'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/sass-3.1.7/lib/sass/scss/parser.rb:354:in `ruleset'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/sass-3.1.7/lib/sass/scss/parser.rb:417:in `block in declaration_or_ruleset'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/sass-3.1.7/lib/sass/scss/parser.rb:872:in `call'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/sass-3.1.7/lib/sass/scss/parser.rb:872:in `rethrow'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/sass-3.1.7/lib/sass/scss/parser.rb:418:in `declaration_or_ruleset'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/sass-3.1.7/lib/sass/scss/parser.rb:380:in `block_child'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/sass-3.1.7/lib/sass/scss/parser.rb:369:in `block_contents'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/sass-3.1.7/lib/sass/scss/parser.rb:361:in `block'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/sass-3.1.7/lib/sass/scss/parser.rb:355:in `ruleset'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/sass-3.1.7/lib/sass/scss/parser.rb:379:in `block_child'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/sass-3.1.7/lib/sass/scss/parser.rb:369:in `block_contents'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/sass-3.1.7/lib/sass/scss/parser.rb:57:in `stylesheet'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/sass-3.1.7/lib/sass/scss/parser.rb:26:in `parse'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/sass-3.1.7/lib/sass/engine.rb:320:in `_to_tree'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/sass-3.1.7/lib/sass/engine.rb:293:in `_render'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/sass-3.1.7/lib/sass/engine.rb:240:in `render'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/compass-0.12.2/lib/compass/commands/update_project.rb:45:in `perform'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/bin/compass:23:in `load'
/Users/zucatti/bin/Sencha/Cmd/6.2.0.79/extensions/sencha-compass/gems/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"    -\": expected number or function, was \"-x-supports-var...\"\A         on line 3 of /Users/zucatti/Desktop/omneedia.app/Contents/MacOS/omneedia.github.io/public/ext/gpl/.frameworks/ext-6.2.0/modern/theme-base/sass/src/Component.scss\A \A 1: /Users/zucatti/Desktop/omneedia.app/Contents/MacOS/omneedia.github.io/public/ext/gpl/.frameworks/ext-6.2.0/modern/theme-base/sass/src/Component.scss"; }
