/**
 * @class Ext.Media
 */
/* line 5, ../../sass/src/Media.scss */
.x-video {
  height: 100%;
  width: 100%;
  background-color: #000;
}

/* line 11, ../../sass/src/Media.scss */
.x-video > * {
  height: 100%;
  width: 100%;
  position: absolute;
}

/* line 17, ../../sass/src/Media.scss */
.x-video-ghost {
  -webkit-background-size: 100% auto;
  background: #000 center center no-repeat;
}

/* line 22, ../../sass/src/Media.scss */
audio {
  width: 100%;
}
