.pivotRowHeader {
  .x-grid-cell {
    .x-grid-cell-inner {
      font-weight: bold;
      color: blue;
    }
  }
}

.pivotRowTotal {
  .x-grid-cell {
    .x-grid-cell-inner {
      font-weight: bold;
    }
  }
}

.pivotRowGrandTotal {
  .x-grid-cell {
    .x-grid-cell-inner {
      color: brown;
      font-weight: bold;
    }
  }
}

.x-grid-cell.pivotCellGrandTotal {
  .x-grid-cell-inner {
    color: brown;
  }
}

.x-grid-cell.pivotCellNegative {
  .x-grid-cell-inner {
    color: red;
  }
}
.x-grid-cell.pivotCellPositive {
  .x-grid-cell-inner {
    color: green;
  }
}