/**
 * @class Global_CSS
 */
/**
 * Creates a border on an element.
 * If any of the parameters is specified as a list, or if any paramter is null,
 * border-style, border-width, and border-color will be specified as separate properties,
 * otherwise all will be collapsed into a single "border" property.
 *
 * @param {number/list} $width
 * The border-width
 *
 * @param {string/list} $style
 * The border-style
 *
 * @param {color/list} $color
 * The border-color
 *
 * @private
 */
