/**
 * @class Global_CSS
 */
/**
 * Adds a font specification to an element.
 * Uses a single "font" property if possible, otherwise uses separate font-family, font-size,
 * font-weight and line-height properties.
 *
 * @param {number/string} $font-weight
 * The font-weight
 *
 * @param {number/string} $font-size
 * The font-size
 *
 * @param {number/string} $line-height
 * The line-height
 *
 * @param {string} $font-family
 * The font-family
 *
 * @private
 */
