/* line 2, ../../../sass/src/layout/Default.scss */
.x-managed-borders .x-docked-top {
  border-bottom-width: 0 !important;
}
/* line 6, ../../../sass/src/layout/Default.scss */
.x-managed-borders .x-docked-bottom {
  border-top-width: 0 !important;
}
/* line 10, ../../../sass/src/layout/Default.scss */
.x-managed-borders .x-docked-left {
  border-right-width: 0 !important;
}
/* line 14, ../../../sass/src/layout/Default.scss */
.x-managed-borders .x-docked-right {
  border-left-width: 0 !important;
}

/* line 19, ../../../sass/src/layout/Default.scss */
.x-noborder-l {
  border-left-width: 0 !important;
}

/* line 23, ../../../sass/src/layout/Default.scss */
.x-noborder-b {
  border-bottom-width: 0 !important;
}

/* line 27, ../../../sass/src/layout/Default.scss */
.x-noborder-bl {
  border-bottom-width: 0 !important;
  border-left-width: 0 !important;
}

/* line 32, ../../../sass/src/layout/Default.scss */
.x-noborder-r {
  border-right-width: 0 !important;
}

/* line 36, ../../../sass/src/layout/Default.scss */
.x-noborder-rl {
  border-right-width: 0 !important;
  border-left-width: 0 !important;
}

/* line 41, ../../../sass/src/layout/Default.scss */
.x-noborder-rb {
  border-right-width: 0 !important;
  border-bottom-width: 0 !important;
}

/* line 46, ../../../sass/src/layout/Default.scss */
.x-noborder-rbl {
  border-right-width: 0 !important;
  border-bottom-width: 0 !important;
  border-left-width: 0 !important;
}

/* line 52, ../../../sass/src/layout/Default.scss */
.x-noborder-t {
  border-top-width: 0 !important;
}

/* line 56, ../../../sass/src/layout/Default.scss */
.x-noborder-tl {
  border-top-width: 0 !important;
  border-left-width: 0 !important;
}

/* line 61, ../../../sass/src/layout/Default.scss */
.x-noborder-tb {
  border-top-width: 0 !important;
  border-bottom-width: 0 !important;
}

/* line 66, ../../../sass/src/layout/Default.scss */
.x-noborder-tbl {
  border-top-width: 0 !important;
  border-bottom-width: 0 !important;
  border-left-width: 0 !important;
}

/* line 72, ../../../sass/src/layout/Default.scss */
.x-noborder-tr {
  border-top-width: 0 !important;
  border-right-width: 0 !important;
}

/* line 77, ../../../sass/src/layout/Default.scss */
.x-noborder-trl {
  border-top-width: 0 !important;
  border-right-width: 0 !important;
  border-left-width: 0 !important;
}

/* line 83, ../../../sass/src/layout/Default.scss */
.x-noborder-trb {
  border-top-width: 0 !important;
  border-right-width: 0 !important;
  border-bottom-width: 0 !important;
}

/* line 89, ../../../sass/src/layout/Default.scss */
.x-noborder-trbl {
  border-width: 0 !important;
}
