@CHARSET "UTF-8";

.ux-mu-status-value {
	float: right;
	min-width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	margin: 0 3px 0 2px;
	cursor: pointer;
	overflow: hidden;
}

.icon-help {
	background-image: url(img/help.png) !important;
}

/*
 * Action icons
 */
.ux-mu-icon-action-ok {
	background-image: url(img/tick.png) !important;
}

.ux-mu-icon-action-upload {
	background-image: url(img/arrow_up.png) !important;
}

.ux-mu-icon-action-abort {
	background-image: url(img/cancel.png) !important;
}

.ux-mu-icon-action-remove {
	background-image: url(img/delete.png) !important;
}

.ux-mu-icon-action-browse {
	background-image: url(img/folder.png) !important;
}

/*
 * Upload status icons
 */

.ux-mu-icon-upload-uploading {
	background-image: url(img/loading.gif) !important;
}

.ux-mu-icon-upload-uploaded {
	background-image: url(img/accept.png) !important;
}

.ux-mu-icon-upload-uploaderror {
	background-image: url(img/exclamation.png) !important;
}

/**
 * The Initial Developer of the Original Code is Sean McDaniel <sean@mcdconsulting.com>
 * Copyright(c) 2010, http://www.mcdconsultingllc.com Licensed under the terms
 * of the Open Source LGPL 3.0 http://www.gnu.org/licenses/lgpl.html
 * @see https://github.com/steelThread/ExtJs-ToggleSlide
 *
 * @author Harald Hanek (c) 2011-2012
 * @license http://harrydeluxe.mit-license.org
 */
.x-toggle-slide-container, .x-toggle-slide-container label {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
}

.x-toggle-slide-disabled {
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.x-toggle-slide-container {
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	height: 23px;
	cursor: pointer;
	overflow: hidden;
}

.x-toggle-slide-container div.holder {

	height: 23px;
	overflow: hidden;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;

}

.x-toggle-slide-container label {
	white-space: nowrap;
	font-size: 15px;
	line-height: 15px;
	font-weight: bold;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	clear: both;
	-moz-box-shadow: inset -2px 2px 10px -5px black;
	-webkit-box-shadow: inset -2px 2px 10px -5px black;
	box-shadow: inset -2px 2px 10px -5px black;
	height: 23px;
	width: auto;
	padding-top: 3px;
	overflow: hidden;
}

label.x-toggle-slide-label-on {
	background: #5EA2DA;
	color: #F7FAFD;
	text-shadow: 0px 0px 2px #364A5D;
}

label.x-toggle-slide-label-on span {
	padding-left: 8px;
}

label.x-toggle-slide-label-off {
	background: #D5D6D6;
	color: #929496;
	text-shadow: 1px 0px 1px #fff;
	text-align: right;
}

label.x-toggle-slide-label-off span {
	padding-right: 8px;
}

.x-toggle-slide-thumb {

	display: block;
	height: 23px;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

	border: 1px solid #999999;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	padding-left: 3px;
}

.x-item-disabled .x-toggle-slide-label-on span {
	color: white !important;
}

.x-item-disabled .x-toggle-slide-label-off span {
	color: gray !important;
}

.x-toolbar .x-toggle-slide-container label {
	font-size: 12px !important;
	
	height: 17px;
	padding-top: 1px;
}

.x-toolbar .x-toggle-slide-container {
	height: 17px;
}

.x-toolbar .x-toggle-slide-container div.holder {

	height: 17px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
}

.x-toolbar label.x-toggle-slide-label-on {

}

.x-toolbar label.x-toggle-slide-label-on span {
	padding-left: 6px;
}

.x-toolbar label.x-toggle-slide-label-off {

}

.x-toolbar label.x-toggle-slide-label-off span {
	padding-right: 6px;
}

.x-toolbar .x-toggle-slide-thumb {
	height: 17px;
}

.x-toolbar-right .x-toggle-slide-label-on {
	text-align: left;
}






.x-field .x-toggle-slide-container label {
	font-size: 12px !important;
	
	height: 18px;
	padding-top: 1px;
}

.x-field .x-toggle-slide-container {
	height: 18px;
}

.x-field .x-toggle-slide-container div.holder {

	height: 18px;
}

.x-field label.x-toggle-slide-label-on {

}

.x-field label.x-toggle-slide-label-on span {
	padding-left: 6px;
}

.x-field label.x-toggle-slide-label-off {

}

.x-field label.x-toggle-slide-label-off span {
	padding-right: 6px;
}

.x-field .x-toggle-slide-thumb {
	height: 18px;
}

.x-toolbar-right .x-toggle-slide-label-on {
	text-align: left;
}

.x-form-rating-field {
}
.x-form-rating-field .x-rating-item {
	float: left;
	height: 21px;
	width: 21px;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
	background-image: url(img/star_un.png);
}
.x-form-rating-field .x-rating-item.x-rating-selected {
	background-image: url(img/star.png);
}
.x-form-rating-field .x-rating-item:hover {
	background-image: url(img/star_over.png);
}
.x-form-rating-field .x-rating-container {
	float: left;
}
.x-form-rating-field .x-rating-text {
	float: left;
	padding: 0 5px;
	margin-top: 3px;
}


.x-form-rating-field .x-rating-tip {
	float: left;
	margin-top: 2px;
	padding-left: 10px;
}

/*
.x-grid-view
{
	overflow-y: scroll;
}
*/
.x-grid-table.tileview .x-grid-row-alt
{
	background-color: transparent;
}

.x-grid-table.tileview .x-grid-row-table
{
	table-layout: fixed;
}

.x-grid-table.tileview .x-grid-row
{
	float: left;
	margin: 8px 0 0 8px;
	display: inline-block;
}

.x-grid-table.tileview .x-grid-cell
{
	border: none;
	background: transparent;
}

.x-grid-table.tileview .x-grid-col
{
	border: none;
}


x-boundlist-list-ct > ul {
-webkit-padding-start: 1px;
-webkit-margin-before: 1px;
-webkit-margin-after: 1px;
-webkit-padding-end: 1px;
list-style-type: none;
}

/**
 * Ext.ux.form.ExtendedComboBox.css - CSS for the extended combo box
 *
 * @author: Dror Ben-Gai (deebug.dev@gmail.com)
 * @date: August, 2011
 */

/* search field height */
.x-form-search-field {
    height: 18px !important;
    top: 0px !important;
}

.upload_trash {
	background-image: url(img/trash.png);
}

.upload_attach {
	background-image: url(img/attach.png);
}


/*
flags
*/

.flag_ad {
	background-image: url(img/flags/ad.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_ae {
	background-image: url(img/flags/ae.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_af {
	background-image: url(img/flags/af.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_ag {
	background-image: url(img/flags/ag.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_ai {
	background-image: url(img/flags/ai.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_al {
	background-image: url(img/flags/al.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_am {
	background-image: url(img/flags/am.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_an {
	background-image: url(img/flags/an.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_ao {
	background-image: url(img/flags/ao.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_ar {
	background-image: url(img/flags/ar.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_as {
	background-image: url(img/flags/as.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_at {
	background-image: url(img/flags/at.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_au {
	background-image: url(img/flags/au.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_aw {
	background-image: url(img/flags/aw.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_ax {
	background-image: url(img/flags/ax.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_az {
	background-image: url(img/flags/az.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_ba {
	background-image: url(img/flags/ba.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_bb {
	background-image: url(img/flags/bb.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_bd {
	background-image: url(img/flags/bd.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_be {
	background-image: url(img/flags/be.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_bf {
	background-image: url(img/flags/bf.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_bg {
	background-image: url(img/flags/bg.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_bh {
	background-image: url(img/flags/bh.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_bi {
	background-image: url(img/flags/bi.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_bj {
	background-image: url(img/flags/bj.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_bm {
	background-image: url(img/flags/bm.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_bn {
	background-image: url(img/flags/bn.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_bo {
	background-image: url(img/flags/bo.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_br {
	background-image: url(img/flags/br.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_bs {
	background-image: url(img/flags/bs.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_bt {
	background-image: url(img/flags/bt.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_bv {
	background-image: url(img/flags/bv.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_bw {
	background-image: url(img/flags/bw.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_by {
	background-image: url(img/flags/by.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_bz {
	background-image: url(img/flags/bz.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_ca {
	background-image: url(img/flags/ca.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_catalonia {
	background-image: url(img/flags/catalonia.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_cc {
	background-image: url(img/flags/cc.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_cd {
	background-image: url(img/flags/cd.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_cf {
	background-image: url(img/flags/cf.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_cg {
	background-image: url(img/flags/cg.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_ch {
	background-image: url(img/flags/ch.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_ci {
	background-image: url(img/flags/ci.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_ck {
	background-image: url(img/flags/ck.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_cl {
	background-image: url(img/flags/cl.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_cm {
	background-image: url(img/flags/cm.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_cn {
	background-image: url(img/flags/cn.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_co {
	background-image: url(img/flags/co.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_cr {
	background-image: url(img/flags/cr.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_cs {
	background-image: url(img/flags/cs.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_cu {
	background-image: url(img/flags/cu.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_cv {
	background-image: url(img/flags/cv.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_cx {
	background-image: url(img/flags/cx.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_cy {
	background-image: url(img/flags/cy.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_cz {
	background-image: url(img/flags/cz.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_de {
	background-image: url(img/flags/de.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_dj {
	background-image: url(img/flags/dj.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_dk {
	background-image: url(img/flags/dk.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_dm {
	background-image: url(img/flags/dm.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_do {
	background-image: url(img/flags/do.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_dz {
	background-image: url(img/flags/dz.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_ec {
	background-image: url(img/flags/ec.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_ee {
	background-image: url(img/flags/ee.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_eg {
	background-image: url(img/flags/eg.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_eh {
	background-image: url(img/flags/eh.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_england {
	background-image: url(img/flags/england.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_er {
	background-image: url(img/flags/er.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_es {
	background-image: url(img/flags/es.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_et {
	background-image: url(img/flags/et.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_europeanunion {
	background-image: url(img/flags/europeanunion.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_fam {
	background-image: url(img/flags/fam.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_fi {
	background-image: url(img/flags/fi.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_fj {
	background-image: url(img/flags/fj.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_fk {
	background-image: url(img/flags/fk.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_fm {
	background-image: url(img/flags/fm.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_fo {
	background-image: url(img/flags/fo.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_fr {
	background-image: url(img/flags/fr.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_ga {
	background-image: url(img/flags/ga.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_gb {
	background-image: url(img/flags/gb.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_gd {
	background-image: url(img/flags/gd.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_ge {
	background-image: url(img/flags/ge.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_gf {
	background-image: url(img/flags/gf.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_gh {
	background-image: url(img/flags/gh.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_gi {
	background-image: url(img/flags/gi.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_gl {
	background-image: url(img/flags/gl.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_gm {
	background-image: url(img/flags/gm.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_gn {
	background-image: url(img/flags/gn.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_gp {
	background-image: url(img/flags/gp.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_gq {
	background-image: url(img/flags/gq.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_gr {
	background-image: url(img/flags/gr.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_gs {
	background-image: url(img/flags/gs.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_gt {
	background-image: url(img/flags/gt.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_gu {
	background-image: url(img/flags/gu.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_gw {
	background-image: url(img/flags/gw.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_gy {
	background-image: url(img/flags/gy.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_hk {
	background-image: url(img/flags/hk.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_hm {
	background-image: url(img/flags/hm.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_hn {
	background-image: url(img/flags/hn.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_hr {
	background-image: url(img/flags/hr.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_ht {
	background-image: url(img/flags/ht.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_hu {
	background-image: url(img/flags/hu.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_id {
	background-image: url(img/flags/id.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_ie {
	background-image: url(img/flags/ie.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_il {
	background-image: url(img/flags/il.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_in {
	background-image: url(img/flags/in.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_io {
	background-image: url(img/flags/io.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_iq {
	background-image: url(img/flags/iq.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_ir {
	background-image: url(img/flags/ir.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_is {
	background-image: url(img/flags/is.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_it {
	background-image: url(img/flags/it.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_jm {
	background-image: url(img/flags/jm.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_jo {
	background-image: url(img/flags/jo.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_jp {
	background-image: url(img/flags/jp.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_ke {
	background-image: url(img/flags/ke.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_kg {
	background-image: url(img/flags/kg.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_kh {
	background-image: url(img/flags/kh.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_ki {
	background-image: url(img/flags/ki.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_km {
	background-image: url(img/flags/km.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_kn {
	background-image: url(img/flags/kn.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_kp {
	background-image: url(img/flags/kp.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_kr {
	background-image: url(img/flags/kr.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_kw {
	background-image: url(img/flags/kw.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_ky {
	background-image: url(img/flags/ky.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_kz {
	background-image: url(img/flags/kz.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_la {
	background-image: url(img/flags/la.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_lb {
	background-image: url(img/flags/lb.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_lc {
	background-image: url(img/flags/lc.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_li {
	background-image: url(img/flags/li.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_lk {
	background-image: url(img/flags/lk.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_lr {
	background-image: url(img/flags/lr.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_ls {
	background-image: url(img/flags/ls.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_lt {
	background-image: url(img/flags/lt.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_lu {
	background-image: url(img/flags/lu.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_lv {
	background-image: url(img/flags/lv.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_ly {
	background-image: url(img/flags/ly.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_ma {
	background-image: url(img/flags/ma.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_mc {
	background-image: url(img/flags/mc.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_md {
	background-image: url(img/flags/md.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_me {
	background-image: url(img/flags/me.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_mg {
	background-image: url(img/flags/mg.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_mh {
	background-image: url(img/flags/mh.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_mk {
	background-image: url(img/flags/mk.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_ml {
	background-image: url(img/flags/ml.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_mm {
	background-image: url(img/flags/mm.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_mn {
	background-image: url(img/flags/mn.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_mo {
	background-image: url(img/flags/mo.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_mp {
	background-image: url(img/flags/mp.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_mq {
	background-image: url(img/flags/mq.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_mr {
	background-image: url(img/flags/mr.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_ms {
	background-image: url(img/flags/ms.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_mt {
	background-image: url(img/flags/mt.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_mu {
	background-image: url(img/flags/mu.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_mv {
	background-image: url(img/flags/mv.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_mw {
	background-image: url(img/flags/mw.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_mx {
	background-image: url(img/flags/mx.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_my {
	background-image: url(img/flags/my.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_mz {
	background-image: url(img/flags/mz.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_na {
	background-image: url(img/flags/na.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_nc {
	background-image: url(img/flags/nc.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_ne {
	background-image: url(img/flags/ne.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_nf {
	background-image: url(img/flags/nf.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_ng {
	background-image: url(img/flags/ng.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_ni {
	background-image: url(img/flags/ni.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_nl {
	background-image: url(img/flags/nl.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_no {
	background-image: url(img/flags/no.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_node_modules {
	background-image: url(img/flags/node_modules);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_np {
	background-image: url(img/flags/np.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_nr {
	background-image: url(img/flags/nr.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_nu {
	background-image: url(img/flags/nu.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_nz {
	background-image: url(img/flags/nz.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_om {
	background-image: url(img/flags/om.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_pa {
	background-image: url(img/flags/pa.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_pe {
	background-image: url(img/flags/pe.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_pf {
	background-image: url(img/flags/pf.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_pg {
	background-image: url(img/flags/pg.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_ph {
	background-image: url(img/flags/ph.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_pk {
	background-image: url(img/flags/pk.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_pl {
	background-image: url(img/flags/pl.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_pm {
	background-image: url(img/flags/pm.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_pn {
	background-image: url(img/flags/pn.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_pr {
	background-image: url(img/flags/pr.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_ps {
	background-image: url(img/flags/ps.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_pt {
	background-image: url(img/flags/pt.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_pw {
	background-image: url(img/flags/pw.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_py {
	background-image: url(img/flags/py.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_qa {
	background-image: url(img/flags/qa.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_re {
	background-image: url(img/flags/re.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_res.css {
	background-image: url(img/flags/res.css);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_ro {
	background-image: url(img/flags/ro.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_rs {
	background-image: url(img/flags/rs.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_ru {
	background-image: url(img/flags/ru.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_rw {
	background-image: url(img/flags/rw.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_sa {
	background-image: url(img/flags/sa.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_sb {
	background-image: url(img/flags/sb.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_sc {
	background-image: url(img/flags/sc.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_scotland {
	background-image: url(img/flags/scotland.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_sd {
	background-image: url(img/flags/sd.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_se {
	background-image: url(img/flags/se.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_sg {
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
	background-image: url(img/flags/sg.png);
}
.flag_sh {
	background-image: url(img/flags/sh.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_si {
	background-image: url(img/flags/si.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_sj {
	background-image: url(img/flags/sj.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_sk {
	background-image: url(img/flags/sk.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_sl {
	background-image: url(img/flags/sl.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_sm {
	background-image: url(img/flags/sm.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_sn {
	background-image: url(img/flags/sn.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_so {
	background-image: url(img/flags/so.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_sr {
	background-image: url(img/flags/sr.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_st {
	background-image: url(img/flags/st.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_sv {
	background-image: url(img/flags/sv.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_sy {
	background-image: url(img/flags/sy.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_sz {
	background-image: url(img/flags/sz.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_tc {
	background-image: url(img/flags/tc.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_td {
	background-image: url(img/flags/td.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_tf {
	background-image: url(img/flags/tf.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_tg {
	background-image: url(img/flags/tg.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_th {
	background-image: url(img/flags/th.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_tj {
	background-image: url(img/flags/tj.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_tk {
	background-image: url(img/flags/tk.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_tl {
	background-image: url(img/flags/tl.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_tm {
	background-image: url(img/flags/tm.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_tn {
	background-image: url(img/flags/tn.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_to {
	background-image: url(img/flags/to.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_tr {
	background-image: url(img/flags/tr.png);
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
}
.flag_tt {
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
	background-image: url(img/flags/tt.png);
}
.flag_tv {
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
	background-image: url(img/flags/tv.png);
}
.flag_tw {
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
	background-image: url(img/flags/tw.png);
}
.flag_tz {
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
	background-image: url(img/flags/tz.png);
}
.flag_ua {
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
	background-image: url(img/flags/ua.png);
}
.flag_ug {
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
	background-image: url(img/flags/ug.png);
}
.flag_um {
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
	background-image: url(img/flags/um.png);
}
.flag_us {
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
	background-image: url(img/flags/us.png);
}
.flag_uy {
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
	background-image: url(img/flags/uy.png);
}
.flag_uz {
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
	background-image: url(img/flags/uz.png);
}
.flag_va {
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
	background-image: url(img/flags/va.png);
}
.flag_vc {
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
	background-image: url(img/flags/vc.png);
}
.flag_ve {
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
	background-image: url(img/flags/ve.png);
}
.flag_vg {
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
	background-image: url(img/flags/vg.png);
}
.flag_vi {
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
	background-image: url(img/flags/vi.png);
}
.flag_vn {
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
	background-image: url(img/flags/vn.png);
}
.flag_vu {
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
	background-image: url(img/flags/vu.png);
}
.flag_wales {
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
	background-image: url(img/flags/wales.png);
}
.flag_wf {
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
	background-image: url(img/flags/wf.png);
}
.flag_ws {
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
	background-image: url(img/flags/ws.png);
}
.flag_ye {
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
	background-image: url(img/flags/ye.png);
}
.flag_yt {
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
	background-image: url(img/flags/yt.png);
}
.flag_za {
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
	background-image: url(img/flags/za.png);
}
.flag_zm {
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
	background-image: url(img/flags/zm.png);
}
.flag_zw {
	background-repeat:   no-repeat;
	background-position: 3px center;
	padding-left:        25px;
	background-image: url(img/flags/zw.png);
}

/*
IconCombo
*/

/* Icon combo styles */
.x-icon-combo-icon {
	background-image: url(path to sprite);
	background-repeat: no-repeat;
    background-position: 0 16px;
    width: 16px;
    height: 16px;
}
.x-combo-list-item td {white-space:nowrap;}
.x-icon-combo-input {
    padding-left: 25px;
}
.x-form-field-wrap .x-icon-combo-icon {
    top: 3px;
    left: 5px;
}
.x-icon-combo-item {
    background-repeat: no-repeat !important;
    background-position: 3px 50% !important;
    padding-left: 24px;
}


.x-daterange {
    background-color: #F7F7FC;
    border: 1px solid #1b376c;
}

.x-daterange-sidepanel {
    border-left: solid 7px #23427c;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(232, 240, 251);
}

.x-datepicker-default:nth-child(odd) {
    background-color:#F7FCFB;
}

.x-datepicker-default:nth-child(odd) .x-datepicker-active {
    border-color: #F7FCFB;
}

.x-datepicker-default:nth-child(even) {
    background-color:#fff;
}

.x-datepicker-default {
    border-left: 1px solid #D5DAE0;
    border-width: 0px 0px 0px 1px!important;
}

.x-datepicker-start {
	border-color: #006600!important;
}

.x-daterange .x-daterange-start-inner {
    background-color: Chartreuse;
    border: 1px solid #006600;
}

.x-daterange .x-daterange-disabled .x-daterange-start-inner {
    background-color: #c3e6a5;
    border: 1px solid #598059;
}


.x-daterange .x-daterange-start {
    background-color: #dbebd3;
    border: 1px solid rgb(232, 240, 251);
}

.x-daterange .x-daterange-end-inner {
    background-color: #FF3399;
    border: 1px solid darkred;
}

.x-daterange .x-daterange-disabled .x-daterange-end-inner {
    background-color: #cc91ae;
    border: 1px solid #8a6e6e;
}

.x-daterange .x-daterange-end {
    background-color: #FFCCFF;
    border: 1px solid rgb(232, 240, 251);
}

.x-datepicker-over-startdate .x-datepicker-date:hover,
.x-datepicker-start .x-datepicker-date {
	background-color: Chartreuse;
	font-weight: bold;
	font-size: 14px;
}

.x-datepicker-selected .x-datepicker-date {
	font-weight: normal;	
	font-size:10px;
}
.x-datepicker-default:nth-child(odd) .x-datepicker-selected,
.x-datepicker-selected {
	/*border-color: #dae5f3;#D4DBE2*/
	border-color: #dae5f3;
}

.x-datepicker-end {
	border-color: #FF3399!important;
}

.x-datepicker-over-enddate .x-datepicker-date:hover,
.x-datepicker-end  .x-datepicker-date{
	background-color: #FFCCFF;
	font-weight: bold;
	font-size:14px;
}

.x-datepicker-today.x-datepicker-cell {
    border-color: darkred!important;
    border-style: dashed;
}

.x-daterange-active {
    box-shadow: 0px 3px 10px #a4a6bd;
}
.x-daterange-active .x-field {
    border: 1px solid #1f9cf0!important;
}

.x-daterange-active.x-start,
.x-daterange-active.x-end{
    border-color: #1f9cf0!important;
}

.x-daterange-disabled {
    filter: alpha(opacity=80);
    opacity: 0.8;
}

.x-daterange-list-items,
.x-daterange-list-items .x-boundlist-item,
.x-daterange-label {
    font-size: 10px;
    line-height: 16px;
}

.x-daterange-sidepanel-title {
    color: #23427c;
    border: solid;
    border-color: #23427c;
    text-align: center;
    padding-top: 4px;
}

.x-daterange-sidepanel-btn {
    background-color: rgb(201, 221, 255)!important;
    background-image: none!important;
}

.x-daterange-sidepanel-btn .x-btn-inner {
    font-weight: 900;
    font-size: 9px;
    color: #123A75;
}

.x-daterange-sidepanel-btn.x-btn-disabled {
    background-color: transparent!important;
}

.x-daterange-sidepanel-combo .x-form-trigger {
    height: 16px;
}

.x-daterange-sidepanel-combo .x-form-text {
    font-size: 10px;
    padding-top: 0;
}

.x-daterange-sidepanel-item {
    margin: 1px 3px;
}

.x-daterange-sidepanel-item.x-daterange-sidepanel-combo {
    margin-top: 3px;
}

.ui-ribbonbar {
    background: transparent;
}


.ui-ribbonbar .x-panel-body-default
{
    border-color: #99BBE8 !important;
    background-image: none !important;
    background-color: #DFE9F5 !important;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#DFE9F5),color-stop(60%,#ccdbec)) !important;
    background-image: -moz-linear-gradient(top,#DFE9F5 5%,#ccdbec 60%) !important;
    background-image: linear-gradient(top,#DFE9F5 5%,#ccdbec 60%) !important;
    
    border-bottom: 1px solid #99BBE8 !important;
    
    border-radius: 2px 2px 0px 0px;
    -moz-border-radius: 2px 2px 0px 0px;
    -webkit-border-radius: 2px 2px 0px 0px;
    -o-border-radius: 2px 2px 0px 0px;
    -ms-border-radius: 2px 2px 0px 0px;
    -khtml-border-radius: 2px 2px 0px 0px;
}


.ui-ribbonbar .x-tab-bar-strip 
{
    border-top: 0px;
    padding-right: 10px;
}


.ui-ribbonbar .x-btn-as-arrow em
{
    display: block;
    background-color: transparent;
    padding-bottom: 15px;
    font-size: 1px!important;
}


.x-chrome .ui-ribbonbar .x-btn-as-arrow em
{
    padding-bottom: 13px;
}


.ui-ribbonbar .x-tab-bar-strip-default-plain-horizontal
{
    height: 0px !important;
}


.ui-ribbonbar .x-tab-default-top
{
    background-image: none;
    background-color: transparent;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: white 0 1px 0 0 inset,white -1px 0 0 0 inset,white 1px 0 0 0 inset;
    border: 1px solid transparent;
}


.ui-ribbonbar .x-tab-default-top
{
    margin-left: 2px !important;
}


.ui-ribbonbar .x-tab-default-closable
{
    padding-right: 10px;
}


.ui-ribbonbar .x-tab-close-btn
{
    font-size: 0px !important;
    text-indent: -999px;
}


.ui-ribbonbar .x-tab-bar-body
{
    top: 3px !important;
    border-bottom: 0px !important;
}


.ui-ribbonbar .x-tab-top-active
{
    border: 1px solid #8DB2E3;
    background-image: none;
    background-color: #DFE9F5;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(5%,white),color-stop(80%,#DFE9F5));
    background-image: -moz-linear-gradient(top,white,#F5F9FE 5%,#DFE9F5 80%);
    background-image: linear-gradient(top,white,#F5F9FE 5%,#DEECFD 80%);
}


.ui-ribbonbar .x-tab-default-top-active
{
    border-bottom-color: #DFE9F5 !important;
}


.ui-ribbonbar .x-tab em
{
    padding: 0 10px;
}


.ui-ribbonbar .x-tab em button
{
    font-weight: normal !important;
}


.ui-ribbonbar .x-tab-bar-body .x-box-inner
{
    height: 24px !important;
}


.menu-title{
    background: #D6E3F2;
    border-style: solid;
    border-color:#DAE6F4 #99bbe8 #99bbe8 #DAE6F4;
    border-width: 1px;
    margin:-2px -2px 0;
    color:#15428b;
    font:bold 10px tahoma,arial,verdana,sans-serif;
    display:block;
    padding:3px;
}

.x-list .x-list-item-remove {
  margin: 4px;
  z-index: 25;
  -webkit-box-shadow: -15px 0px 15px -2px white; 
}
.x-list .x-list-item-remove.x-button-plain {
    color: #FF0000; 
}

.x-numberpicker .x-item-selected .x-picker-item:before {
  content: attr(data-label); 
}

.x-numberpicker .x-item-selected .x-picker-item:after {
  content: attr(data-units); 
}

.x-numberpicker .x-numberpicker-placeholder {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: inherit;
  height: auto; 
}

