.pivotCellGroupFooter {
  .x-grid-cell-inner {
    font-weight: bold;
  }
}

.pivotCellGroupHeader {
  .x-grid-cell-inner {
    color: blue;
  }
}

.pivotCellAbove500 {
  .x-grid-cell-inner {
    color: green;
  }
}

.pivotCellUnder500 {
  .x-grid-cell-inner {
    color: red;
  }
}