.ui-ribbonbar {
    background: transparent;
}


.ui-ribbonbar .x-panel-body-default
{
    border-color: #99BBE8 !important;
    background-image: none !important;
    background-color: #DFE9F5 !important;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#DFE9F5),color-stop(60%,#ccdbec)) !important;
    background-image: -moz-linear-gradient(top,#DFE9F5 5%,#ccdbec 60%) !important;
    background-image: linear-gradient(top,#DFE9F5 5%,#ccdbec 60%) !important;
    
    border-bottom: 1px solid #99BBE8 !important;
    
    border-radius: 2px 2px 0px 0px;
    -moz-border-radius: 2px 2px 0px 0px;
    -webkit-border-radius: 2px 2px 0px 0px;
    -o-border-radius: 2px 2px 0px 0px;
    -ms-border-radius: 2px 2px 0px 0px;
    -khtml-border-radius: 2px 2px 0px 0px;
}


.ui-ribbonbar .x-tab-bar-strip 
{
    border-top: 0px;
    padding-right: 10px;
}


.ui-ribbonbar .x-btn-as-arrow em
{
    display: block;
    background-color: transparent;
    padding-bottom: 15px;
    font-size: 1px!important;
}


.x-chrome .ui-ribbonbar .x-btn-as-arrow em
{
    padding-bottom: 13px;
}


.ui-ribbonbar .x-tab-bar-strip-default-plain-horizontal
{
    height: 0px !important;
}


.ui-ribbonbar .x-tab-default-top
{
    background-image: none;
    background-color: transparent;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: white 0 1px 0 0 inset,white -1px 0 0 0 inset,white 1px 0 0 0 inset;
    border: 1px solid transparent;
}


.ui-ribbonbar .x-tab-default-top
{
    margin-left: 2px !important;
}


.ui-ribbonbar .x-tab-default-closable
{
    padding-right: 10px;
}


.ui-ribbonbar .x-tab-close-btn
{
    font-size: 0px !important;
    text-indent: -999px;
}


.ui-ribbonbar .x-tab-bar-body
{
    top: 3px !important;
    border-bottom: 0px !important;
}


.ui-ribbonbar .x-tab-top-active
{
    border: 1px solid #8DB2E3;
    background-image: none;
    background-color: #DFE9F5;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(5%,white),color-stop(80%,#DFE9F5));
    background-image: -moz-linear-gradient(top,white,#F5F9FE 5%,#DFE9F5 80%);
    background-image: linear-gradient(top,white,#F5F9FE 5%,#DEECFD 80%);
}


.ui-ribbonbar .x-tab-default-top-active
{
    border-bottom-color: #DFE9F5 !important;
}


.ui-ribbonbar .x-tab em
{
    padding: 0 10px;
}


.ui-ribbonbar .x-tab em button
{
    font-weight: normal !important;
}


.ui-ribbonbar .x-tab-bar-body .x-box-inner
{
    height: 24px !important;
}


.menu-title{
    background: #D6E3F2;
    border-style: solid;
    border-color:#DAE6F4 #99bbe8 #99bbe8 #DAE6F4;
    border-width: 1px;
    margin:-2px -2px 0;
    color:#15428b;
    font:bold 10px tahoma,arial,verdana,sans-serif;
    display:block;
    padding:3px;
}