/**
 * @class Ext.table.Table
 * @ignore
 */
/* line 6, ../../../sass/src/table/Table.scss */
.x-table-inner {
  display: table;
  width: 100% !important;
  height: 100% !important;
}
/* line 11, ../../../sass/src/table/Table.scss */
.x-table-inner.x-fixed-layout {
  table-layout: fixed !important;
}

/* line 16, ../../../sass/src/table/Table.scss */
.x-table-row {
  display: table-row;
}

/* line 20, ../../../sass/src/table/Table.scss */
.x-table-cell {
  display: table-cell;
  vertical-align: middle;
}
