/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/sass/src/chart/AbstractChart.scss:8 */
.x-android-3 .x-surface-wrap,
.x-android-3 .x-surface-wrap > * {
    -webkit-perspective: 1;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/sass/src/chart/AbstractChart.scss:12 */
.x-draw-container {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -ms-user-select: none;
    cursor: default;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/sass/src/chart/AbstractChart.scss:17 */
.x-draw-container .x-inner {
    overflow: hidden;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/sass/src/chart/AbstractChart.scss:22 */
.x-surface-canvas {
    position: absolute;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/sass/src/chart/AbstractChart.scss:26 */
.x-chart-image {
    width: 100%;
    height: auto;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/sass/src/chart/AbstractChart.scss:31 */
.x-legend-container {
    display: inline-block;
    line-height: 0;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -ms-border-radius: 0.25em;
    -o-border-radius: 0.25em;
    border-radius: 0.25em;
    border: 1px solid #ccc;
    background: #fff;
    -webkit-box-shadow: rgba(255, 255, 255, 0.6) 0 1px 1px;
    -moz-box-shadow: rgba(255, 255, 255, 0.6) 0 1px 1px;
    box-shadow: rgba(255, 255, 255, 0.6) 0 1px 1px;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/sass/src/chart/AbstractChart.scss:45 */
.x-legend-item {
    padding: 0.8em 1em 0.8em 1.8em;
    color: #333;
    background: rgba(255, 255, 255, 0);
    max-width: 16em;
    min-width: 0;
    font-size: 81.25%;
    font-family: helvetica, arial, sans-serif;
    line-height: 81.25%;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/sass/src/chart/AbstractChart.scss:61 */
.x-legend-inactive {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    opacity: 0.3;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/sass/src/chart/AbstractChart.scss:65 */
.x-legend-item-marker {
    position: absolute;
    width: 0.8em;
    height: 0.8em;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    -ms-border-radius: 0.4em;
    -o-border-radius: 0.4em;
    border-radius: 0.4em;
    -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0, rgba(0, 0, 0, 0.4) 0 1px 0 inset;
    -moz-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0, rgba(0, 0, 0, 0.4) 0 1px 0 inset;
    box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0, rgba(0, 0, 0, 0.4) 0 1px 0 inset;
    left: 0.7em;
    top: 0.85em;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/sass/src/chart/AbstractChart.scss:77 */
.x-rtl > * > .x-legend-item {
    padding: 0.8em 1.8em 0.8em 1em;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/sass/src/chart/AbstractChart.scss:81 */
.x-rtl > * > * > .x-legend-item-marker {
    right: 0.7em;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/sass/src/chart/AbstractChart.scss:85 */
.x-legend,
.x-legend-panel {
    background: #fff;
    outline: none;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/sass/src/chart/AbstractChart.scss:90 */
.x-legend.x-docked-top .x-legend-item,
.x-legend.x-docked-bottom .x-legend-item,
.x-legend-panel.x-docked-top .x-legend-item,
.x-legend-panel.x-docked-bottom .x-legend-item {
    border-left: 1px solid rgba(204, 204, 204, 0.5);
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/sass/src/chart/AbstractChart.scss:92 */
.x-legend.x-docked-top .x-legend-item:first-child,
.x-legend.x-docked-bottom .x-legend-item:first-child,
.x-legend-panel.x-docked-top .x-legend-item:first-child,
.x-legend-panel.x-docked-bottom .x-legend-item:first-child {
    border-left: none;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/sass/src/chart/AbstractChart.scss:97 */
.x-legend.x-docked-top.x-rtl .x-legend-item:first-child,
.x-legend.x-docked-bottom.x-rtl .x-legend-item:first-child,
.x-legend-panel.x-docked-top.x-rtl .x-legend-item:first-child,
.x-legend-panel.x-docked-bottom.x-rtl .x-legend-item:first-child {
    border-left: 1px solid rgba(204, 204, 204, 0.5);
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/sass/src/chart/AbstractChart.scss:100 */
.x-legend.x-docked-top.x-rtl .x-legend-item:last-child,
.x-legend.x-docked-bottom.x-rtl .x-legend-item:last-child,
.x-legend-panel.x-docked-top.x-rtl .x-legend-item:last-child,
.x-legend-panel.x-docked-bottom.x-rtl .x-legend-item:last-child {
    border-left: none;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/sass/src/chart/AbstractChart.scss:107 */
.x-legend.x-docked-left .x-legend-item,
.x-legend.x-docked-right .x-legend-item,
.x-legend-panel.x-docked-left .x-legend-item,
.x-legend-panel.x-docked-right .x-legend-item {
    border-top: 1px solid rgba(204, 204, 204, 0.5);
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/sass/src/chart/AbstractChart.scss:109 */
.x-legend.x-docked-left .x-legend-item:first-child,
.x-legend.x-docked-right .x-legend-item:first-child,
.x-legend-panel.x-docked-left .x-legend-item:first-child,
.x-legend-panel.x-docked-right .x-legend-item:first-child {
    border-top: none;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/sass/src/chart/AbstractChart.scss:113 */
.x-legend.x-docked-left .x-legend-inner,
.x-legend.x-docked-right .x-legend-inner,
.x-legend-panel.x-docked-left .x-legend-inner,
.x-legend-panel.x-docked-right .x-legend-inner {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/sass/src/chart/AbstractChart.scss:121 */
.x-legend.x-horizontal {
    white-space: nowrap;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/sass/src/chart/AbstractChart.scss:123 */
.x-legend.x-horizontal .x-legend-item {
    display: inline-block;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/sass/src/chart/AbstractChart.scss:128 */
.x-chart-toolbar {
    position: absolute;
    z-index: 9;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    padding: 0.6em;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/sass/src/chart/AbstractChart.scss:134 */
.x-chart-toolbar .x-button {
    margin: 0.2em;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/sass/src/chart/AbstractChart.scss:138 */
.x-chart-toolbar[data-side=left],
.x-chart-toolbar[data-side=right] {
    top: 0;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/sass/src/chart/AbstractChart.scss:143 */
.x-chart-toolbar[data-side=left] {
    left: 0;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/sass/src/chart/AbstractChart.scss:147 */
.x-chart-toolbar[data-side=right] {
    right: 0;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/sass/src/chart/AbstractChart.scss:151 */
.x-chart-toolbar[data-side=top],
.x-chart-toolbar[data-side=bottom] {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;
    right: 0;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/sass/src/chart/AbstractChart.scss:156 */
.x-chart-toolbar[data-side=top] {
    top: 0;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/sass/src/chart/AbstractChart.scss:160 */
.x-chart-toolbar[data-side=bottom] {
    bottom: 0;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/modern/sass/src/chart/AbstractChart.scss:1 */
.x-android-3 .x-surface-wrap,
.x-android-3 .x-surface-wrap > * {
    -webkit-perspective: 1;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/modern/sass/src/chart/AbstractChart.scss:5 */
.x-draw-component {
    position: relative;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/modern/sass/src/chart/AbstractChart.scss:7 */
.x-draw-component .x-inner {
    overflow: hidden;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/modern/sass/src/chart/AbstractChart.scss:12 */
.x-surface {
    position: absolute;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/modern/sass/src/chart/AbstractChart.scss:27 */
.x-legend .x-legend-inner .x-legend-container {
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -ms-border-radius: 0.25em;
    -o-border-radius: 0.25em;
    border-radius: 0.25em;
    border: 1px solid #ccc;
    background: #fff;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/modern/sass/src/chart/AbstractChart.scss:37 */
.x-legend .x-legend-inner .x-legend-container .x-legend-item {
    padding: 0.8em 1em 0.8em 1.8em;
    color: #333;
    background: rgba(255, 255, 255, 0);
    max-width: 20em;
    min-width: 0;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    white-space: nowrap;
    position: relative;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/modern/sass/src/chart/AbstractChart.scss:49 */
.x-legend .x-legend-inner .x-legend-container .x-legend-item .x-legend-inactive {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    opacity: 0.3;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/modern/sass/src/chart/AbstractChart.scss:53 */
.x-legend .x-legend-inner .x-legend-container .x-legend-item .x-legend-item-marker {
    position: absolute;
    width: 0.8em;
    height: 0.8em;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    -ms-border-radius: 0.4em;
    -o-border-radius: 0.4em;
    border-radius: 0.4em;
    -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0, rgba(0, 0, 0, 0.4) 0 1px 0 inset;
    -moz-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0, rgba(0, 0, 0, 0.4) 0 1px 0 inset;
    box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0, rgba(0, 0, 0, 0.4) 0 1px 0 inset;
    left: 0.7em;
    top: 1em;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/modern/sass/src/chart/AbstractChart.scss:69 */
.x-legend.x-docked-top .x-legend-item,
.x-legend.x-docked-bottom .x-legend-item {
    border-right: 1px solid rgba(204, 204, 204, 0.5);
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/modern/sass/src/chart/AbstractChart.scss:71 */
.x-legend.x-docked-top .x-legend-item:last-child,
.x-legend.x-docked-bottom .x-legend-item:last-child {
    border-right: 0;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/modern/sass/src/chart/AbstractChart.scss:78 */
.x-legend.x-docked-left .x-legend-inner,
.x-legend.x-docked-right .x-legend-inner {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/modern/sass/src/chart/AbstractChart.scss:86 */
.x-chart-toolbar {
    position: absolute;
    z-index: 9;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    padding: 0.6em;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/modern/sass/src/chart/AbstractChart.scss:92 */
.x-chart-toolbar .x-button {
    margin: 0.2em;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/modern/sass/src/chart/AbstractChart.scss:96 */
.x-chart-toolbar[data-side=left],
.x-chart-toolbar[data-side=right] {
    top: 0;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/modern/sass/src/chart/AbstractChart.scss:101 */
.x-chart-toolbar[data-side=left] {
    left: 0;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/modern/sass/src/chart/AbstractChart.scss:105 */
.x-chart-toolbar[data-side=right] {
    right: 0;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/modern/sass/src/chart/AbstractChart.scss:109 */
.x-chart-toolbar[data-side=top],
.x-chart-toolbar[data-side=bottom] {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;
    right: 0;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/modern/sass/src/chart/AbstractChart.scss:114 */
.x-chart-toolbar[data-side=top] {
    top: 0;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/packages/charts/modern/sass/src/chart/AbstractChart.scss:118 */
.x-chart-toolbar[data-side=bottom] {
    bottom: 0;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;
}