/* line 1, ../../../sass/src/viewport/Default.scss */
.x-orientation-inspector {
  display: none;
  content: "landscape";
}
@media (orientation : portrait) {
  /* line 1, ../../../sass/src/viewport/Default.scss */
  .x-orientation-inspector {
    content: "portrait";
  }
}
